/**
 * @file
 * Default styling for paragraphs-wysiwyg dialogs.
 *
 * @see core/themes/classy/css/components/dialog.css
 * @see core/themes/bartik/css/components/ui-dialog.css
 * @todo Clean up unused CSS see http://evo.vm.cms.didev.co.uk/entity-browser/iframe/paragraph_type?uuid=6ba751534ed1fc80cb52a9f4117773c74e284a19&original_path=/entity-embed/dialog/full_html/paragraphs
 *
 */

a[href^="#browser"] {
    display: none;
}

#entity-embed-dialog-form {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 0;
    position: absolute;
    z-index: 1260;
    overflow: visible;
    color: #000;
    background: #fff;
    border: solid 1px #ccc;
    padding: 0;
}

@media all and (max-width: 48em) { /* 768px */
    #entity-embed-dialog-form {
        width: 92% !important;
    }
}
#entity-embed-dialog-form .ui-dialog-titlebar {
    font-weight: bold;
    background: #f3f4ee;
    border-style: solid;
    border-radius: 0;
    border-width: 0 0 1px 0;
    border-color: #ccc;
}
#entity-embed-dialog-form .ui-dialog-titlebar-close {
    border: 0;
    background: none;
}
#entity-embed-dialog-form .ui-dialog-buttonpane {
    margin-top: 0;
    background: #f3f4ee;
    padding: .3em 1em;
    border-width: 1px 0 0 0;
    border-color: #ccc;
}
#entity-embed-dialog-form .ui-dialog-buttonpane .ui-dialog-buttonset {
    margin: 0;
    padding: 0;
}
#entity-embed-dialog-form .ui-dialog-buttonpane .ui-button-text-only .ui-button-text {
    padding: 0;
}

/* Form action buttons are moved in dialogs. Remove empty space. */
#entity-embed-dialog-form .ui-dialog-content .form-actions {
    padding: 0;
    margin: 0;
}
#entity-embed-dialog-form .ajax-progress-throbber {
    /* Can't do center:50% middle: 50%, so approximate it for a typical window size. */
    left: 49%;
    position: fixed;
    top: 48.5%;
    z-index: 1000;
    background-color: #232323;
    background-image: url(../../../../misc/loading-small.gif);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 7px;
    height: 24px;
    opacity: 0.9;
    padding: 4px;
    width: 24px;
}
#entity-embed-dialog-form .ajax-progress-throbber .throbber,
#entity-embed-dialog-form .ajax-progress-throbber .message {
    display: none;
}
#entity-embed-dialog-form input,
#entity-embed-dialog-form select,
#entity-embed-dialog-form textarea {
    font-size: 0.9em;
}
#entity-embed-dialog-form .button {
    background-color: #fff;
    background-image: -webkit-linear-gradient(top,#f3f3f3,#e8e8e8);
    background-image: linear-gradient(to bottom,#f3f3f3,#e8e8e8);
    border: 1px solid #e4e4e4;
    border-bottom-color: #b4b4b4;
    border-left-color: #d2d2d2;
    border-right-color: #d2d2d2;
    color: #3a3a3a;
    cursor: pointer;
    font-size: 0.929em;
    font-weight: normal;
    text-align: center;
    padding: 0.250em 1.063em;
    border-radius: 1em;
}
.ui-widget-overlay {
    background: #000;
    opacity: 0.7;
}

#paragraphs-wysiwyg .paragraphs-wysiwyg-add-type {
    border: 2px solid #ffffff;
    display: inline-block;
    margin-right: 30px;
    min-width: 100px;
    padding: 10px;
    width: 100px;
    vertical-align: top;
}

#paragraphs-wysiwyg .paragraphs-wysiwyg-add-type:hover {
    border: 2px solid rgb(85, 142, 213);
}

#paragraphs-wysiwyg .paragraphs-wysiwyg-add-type input {
    border: none;
    padding: 0;
}

#paragraphs-wysiwyg .paragraphs-wysiwyg-add-type span {
    display: block;
    text-align: center;
    width: 100%;
}
